<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre - Inicio</title>
</head>
<body>
    <header>
        <div><img src="../public/images/logo-mercado-liebre.svg" alt="logo"></div>
        <div>
            <!-- aca va el campo de búsqueda-->
        </div>

        <span>Comprá en cuotas y sin tarjeta de crédito</span>

        <nav>
            <ul type="none">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <li> </li>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Basado en tu última visita</h2>

            <article>
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <h3>$ 6.770</h3>
                <div><h4>40% off</h4></div>
                <div><h5>Cafetera Moulinex</h5></div>
            </article>

            <article>
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Notebook">
                <h3>$ 230.000</h3>
                <div><h4>20% off</h4></div>
                <div><h5>MacBook Pro 2019</h5></div>
            </article>

            <article>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Teléfono celular">
                <h3>$ 70.500</h3>
                <div><h4>10% off</h4></div>
                <div><h5>Samsung Galaxy S10</h5></div>
            </article>

            <article>
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="Televisor">
                <h3>$ 23.200</h3>
                <div><h4>5% off</h4></div>
                <div><h5>Smart TV Samsung 43''</h5></div>
            </article>
        </section>

        <section>
            <h2>Sección de ofertas</h2>

            <article>
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <h3>$ 6.770</h3>
                <div><h4>40% off</h4></div>
                <div><h5>Cafetera Moulinex</h5></div>
            </article>

            <article>
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="Notebook">
                <h3>$ 230.000</h3>
                <div><h4>20% off</h4></div>
                <div><h5>MacBook Pro 2019</h5></div>
            </article>

            <article>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Teléfono celular">
                <h3>$ 70.500</h3git branch >
                <div><h4>10% off</h4></div>
                <div><h5>Samsung Galaxy S10</h5></div>
            </article>

            <article>
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="Televisor">
                <h3>$ 23.200</h3>
                <div><h4>5% off</h4></div>
                <div><h5>Smart TV Samsung 43''</h5></div>
            </article>
        </section>

    </main>

    <footer>
        <article>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con MercadoLiebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. !Y siempre es seguro!</p>
        </article>
        <article>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h3>Seguridad de prinicpio a fin</h3>
            <p>¿No te gusta? !Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </article>
        <span>Copyright ©1999-2020 MercadoLiebre S.R.L.</span>

    </footer>

</body>
</html>